<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet"  href="/css/styles.css">
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <%- include('partials/_header') %>
      
    </header>
    <main class="url-table">
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL ID</th>
            <th scope="col">Long URL</th>
          </tr>
        </thead>
        
        <tbody>
          <% for (let id in urls) { %>
            <tr>
              <td> a<%= id %></td>
              <td><a href="<%= urls[id]  %>"> <%= urls[id]  %></a></td>
              <td>
                <form method="POST" action="/urls/<%= id %>/delete">
                  <button class="urls-sub" type="submit">Delete</button>
                </form>
              </td>
              
              <td>
                <form method="GET" action="/urls/<%= id %>">
                  <button class="urls-edit" type="submit">Edit</button>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </main>
  </body>
</html>